body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main{
    border-radius: 20px;
    background-color: white;
    align-content: center;
    width: 320px;
    height: 497px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    border-radius: 20px;
    padding: 10px;
}

h2{
    justify-content: center;
    text-align: center;
    color: black;
}

p{
    justify-content: center;
    text-align: center;
    color: grey;
}